version: v1.0.0

dsn: postgres://kratos:secret@kratos-postgres:5432/kratos?sslmode=disable

serve:
  public:
    base_url: http://127.0.0.1:4433/
    cors:
      enabled: true
  admin:
    base_url: http://127.0.0.1:4434/

secrets:
  default:
    - youReallyNeedToChangeThis

hashers:
  argon2:
    parallelism: 1
    memory: 128MB
    iterations: 2
    salt_length: 16
    key_length: 16

identity:
  default_schema_id: user_v0
  schemas:
    - id: user_v0
      url: file:///etc/config/kratos/user.schema.json

courier:
  smtp:
    connection_uri: smtps://test:test@mailslurper:1025/?skip_ssl_verify=true

selfservice:
  default_browser_return_url: http://127.0.0.1:4455/
  allowed_return_urls:
    - http://127.0.0.1:4455

  methods:
    password:
      enabled: true
    
  flows:
    registration:
      enabled: true
    login:
      enabled: true
    settings:
      enabled: true
    recovery:
      enabled: true
    verification:
      enabled: true

log:
  level: debug
  format: text