body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 100vh;
  margin: 0;
  background-color: #FFF1D7; /* blanch almond background color */
  background-repeat: no-repeat;
  background-position: center;
}

.upload-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.upload-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.upload-area h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.upload-area p {
  margin: 10px 0;
  color: #666;
}

.upload-area button {
  padding: 10px 20px;
  background-color: #DBA979;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.upload-area button:hover {
  background-color: #DBA979;
}

.upload-area.dragover {
  background-color: #f1f7ff;
  border-color: #DBA979;
}

.file-options,
.extract-text-options {
  text-align: center;
}

.file-options button,
.extract-text-options button,
.black-board-button-container button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #DBA979;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.file-options button:hover,
.extract-text-options button:hover,
.black-board-button-container button:hover {
  background-color: #DBA979;
}

.hidden {
  display: none !important;
}

.blackboard {
  position: relative;
  width: 75%;
  max-width: 800px;
  margin: 20px auto;
}

.blackboard-image {
  width: 100%;
  height: auto;
}

#pauseImage {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#continueImage {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#textspeechImage {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#fastfwdImage {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#rewindImage {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.text-container {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 20%;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
}

.blackboard button {
  padding: 10px 20px;
  background-color: #DBA979;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  position: fixed;
  top: 20px;
  left: 20px;
}

.blackboard button:hover {
  background-color: #DBA979;
}

.black-board-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exerciseBoard {
  width: 100%;
  position: absolute;
  top: 0;
}

.exerciseBoard button {
  padding: 10px 20px;
  background-color: #DBA979;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  position: fixed;
  top: 20px;
  left: 20px;
}

.exerciseBoard button:hover {
  background-color: #DBA979;
}
.exerciseBoardOutputPanal {
  width: 100%;
  margin-top: 4.5rem;
}

.text-container {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 20%;
  color: white; /* Ensures white text */
  font-family: sans-serif; /* Ensures sans-serif font */
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
  overflow-y: auto;
}


.qna-container {
  margin: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.qna-item {
  margin-bottom: 15px;
}

.qna-item label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.qna-item input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.qna-item input:focus {
  border-color: #DBA979;
  outline: none;
}

.submit-button {
  position: relative !important;
  padding: 10px 20px;
  background-color: #DBA979;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  display: block;
  margin: 1rem auto;
}

.submit-button:hover {
  position: relative !important;
  background-color: #DBA979;
}

.qna-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.qna-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}
.question-text {
  margin-bottom: 10px;
}
.options-container {
  width: 100%;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.option-image {
  max-width: 100%;
  max-height: 100px;
}
.option-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.answer-box {
  margin-top: 10px;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.answer-box.correct {
  border-color: green;
}
.answer-box.wrong {
  border-color: red;
}

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000066;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
