fastapi==0.115.0
uvicorn==0.31.1
celery[redis]==5.3.6
flower==2.0.1
transformers==4.45.2
hf-transfer==0.1.8
huggingface-hub==0.25.1
locust==2.31.8
python-multipart==0.0.12
redis==5.1.1
requests==2.32.3
rich==13.9.2
marker-pdf==0.2.17
pynvml==11.5.3
art==6.3
gradio==5.1.0
# Include any other dependencies that your marker modules need,
# for example Pillow, PyPDF2, etc. 