@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist Sans';
  src: url('./fonts/GeistVF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('./fonts/GeistMonoVF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --font-geist-sans: 'Geist Sans';
  --font-geist-mono: 'Geist Mono';
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  transition: transform 1s;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  background:  radial-gradient(circle, rgb(105, 55, 55), rgb(50, 25, 25));;
  border: 2px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.one {
  transform: translateZ(50px);
}
.two {
  transform: rotateY(90deg) translateZ(50px);
}
.three {
  transform: rotateY(180deg) translateZ(50px);
}
.four {
  transform: rotateY(-90deg) translateZ(50px);
}
.five {
  transform: rotateX(90deg) translateZ(50px);
}
.six {
  transform: rotateX(-90deg) translateZ(50px);
}
